<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35667384597-kenko4pteqla3rg53eoqkau2p38i93qd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35667384597-kenko4pteqla3rg53eoqkau2p38i93qd</string>
	<key>API_KEY</key>
	<string>AIzaSyAlRHegFRba_P5fubtFIb-t4igAoJjrGXA</string>
	<key>GCM_SENDER_ID</key>
	<string>35667384597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>None.SnacktacularUI</string>
	<key>PROJECT_ID</key>
	<string>snacktacularui-bac70</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacularui-bac70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35667384597:ios:b483dceaea1889bb79b11c</string>
</dict>
</plist>